<head>
    <meta charset="utf-8">
    <title>Gymnast - Plantilla de Sitio Web para Gimnasio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Plantilla de Sitio Web Gratis" name="keywords">
    <meta content="Plantilla de Sitio Web Gratis" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="c/css/style.min.css" rel="stylesheet">
</head>

<body class="bg-white">
    <!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <%- include('partials/topbar') %>
</div>
<!-- Navbar End -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 pb-5">
        <div class="contact-form">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                <!-- Nombre -->
                <div class="control-group">
                    <input type="text" class="form-control" id="name" placeholder="Tu Nombre" required="required" data-validation-required-message="Por favor ingresa tu nombre" />
                    <p class="help-block text-danger"></p>
                </div>
                
                <!-- Correo Electrónico -->
                <div class="control-group">
                    <input type="email" class="form-control" id="email" placeholder="Tu Correo Electrónico" required="required" data-validation-required-message="Por favor ingresa tu correo electrónico" />
                    <p class="help-block text-danger"></p>
                </div>

                <!-- Número de Teléfono -->
                <div class="control-group">
                    <input type="tel" class="form-control" id="phone" placeholder="Tu Número de Teléfono" required="required" data-validation-required-message="Por favor ingresa tu número de teléfono" />
                    <p class="help-block text-danger"></p>
                </div>

                <!-- Selección de Clase -->
                <div class="control-group">
                    <select class="form-control" id="classType" required="required" data-validation-required-message="Por favor selecciona una clase">
                        <option value="">Selecciona el Tipo de Clase</option>
                        <option value="Artes Marciales">Artes Marciales</option>
                        <option value="Defensa Personal">Defensa Personal</option>
                        <option value="Boxeo">Boxeo</option>
                        <option value="Parkour">Parkour</option>
                    </select>
                    <p class="help-block text-danger"></p>
                </div>

                <!-- Mensaje -->
                <div class="control-group">
                    <textarea class="form-control" rows="6" id="message" placeholder="¿Por qué deseas unirte?" required="required" data-validation-required-message="Por favor ingresa un mensaje"></textarea>
                    <p class="help-block text-danger"></p>
                </div>

                <!-- Botón de Envío -->
                <div>
                    <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Unirse a la Clase</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div class="footer container-fluid mt-5 py-5 px-sm-3 px-md-5 text-white">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Contacto</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Unidad Deportiva Principal De Copacabana</p>
            <p><i class="fa fa-phone-alt mr-2"></i>4016923</p>
            <p><i class="fa fa-envelope mr-2"></i>Yamix60@gmail.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4"> Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Sobre nosotros</a>
                <a class="text-white mb-2" href="/clases"><i class="fa fa-angle-right mr-2"></i>Clases</a>
                <a class="text-white" href="/contac"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Popular Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Sobre nosotros</a>
                <a class="text-white mb-2" href="/clases"><i class="fa fa-angle-right mr-2"></i>Clases</a>
                <a class="text-white" href="/contac"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Horarios</h4>
            <h5 class="text-white">Lunes - Viernes</h5>
            <p>8.00 AM - 10.00 PM</p>
        </div>
    </div>
    <div class="container border-top border-dark pt-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-bold" href="/">Yamix</a>. Derechos reservados. Diseñado por
            <a class="text-white font-weight-bold" href="/">Yamix</a>
        </p>
    </div>
  </div>
  <!-- Footer End -->